<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<header class="d-flex align-items-center justify-content-between border-bottom p-3 my-3 text-light bg-dark">
    <h1>Bienvenue sur la page d'accueil</h1>
    <div class="d-flex gap-3">
        <p class="m-0 d-flex align-items-center">Bonjour <span th:text="${prenom}"></span></p>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-primary btn-sm" type="submit">
                Déconnectez-vous
            </button>
        </form>
    </div>
</header>

<main class="p-4">

<div class="d-flex align-items-center justify-content-between mb-3">

<h2>Tableau de bord - Année <span th:text="${annee}"></span></h2>

    <div class="d-flex gap-2 align-items-center">
        <!-- Boutons d'action -->
        <a th:href="@{/ASTA/ajouterApprenti}" class="btn btn-success btn-sm">
            + Nouvel apprenti
        </a>
        <a th:href="@{/ASTA/nouvelleAnnee}" class="btn btn-primary btn-sm">
            + Nouvelle année académique
        </a>
        <form method="get" th:action="@{/home}">
            <label for="annee">Année académique :</label>
            <select id="annee" name="annee" onchange="this.form.submit()">
                <option th:each="a : ${annees}"
                        th:value="${a}"
                        th:text="${a}"
                        th:selected="${a == anneeSelectionnee}">
                </option>
            </select>
        </form>
    </div>

</div>

<div th:if="${#lists.isEmpty(apprentis)}" class="text-danger">
    La liste est vide. Ajoutez au moins un apprenti.
</div>

<table th:if="${!#lists.isEmpty(apprentis)}" class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${apprentis}">
        <td th:text="${a.nom}"></td>
        <td th:text="${a.prenom}"></td>
        <td>
            <a th:href="@{/ASTA/detailsApprenti/{id}(id=${a.id})}" class="btn btn-sm btn-primary">
                Voir détails
            </a>
        </td>
    </tr>
    </tbody>
</table>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>