<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ASTA - Connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="min-vh-100 m-0 p-0 d-flex align-items-center justify-content-center"
      style="background: url('https://i.sstatic.net/kx8MT.gif') center/cover no-repeat;">
<form th:action="@{/login}" method="post" class="p-4 rounded bg-light">
    <div class="mb-3">
        <label for="username" class="form-label">Adresse email</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-4">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary w-100">Se connecter</button>

    <div th:if="${errorMsg}" th:text="${errorMsg}" style="color:red"></div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>